---
import '@/styles/global.css'
import { ClientRouter } from 'astro:transitions'
import { Font } from 'astro:assets'
import { DEFAULT_LOCALE } from '@/constants'
import { cn } from '@/lib/style'
import { SITE_BRAND_NAME } from '@/constants'
import type { SeoMeta, SeoMetaType } from '@/seo.types'
import HeadSeoMeta from '@/components/HeadSeoMeta.astro'
import { ensureTrailingSlash } from '@/lib/slashes'

type Props = {
	variant?: 'page' | 'post' | 'layout' | 'full'
	meta?: SeoMeta<SeoMetaType> | undefined
	mainClass?: string | undefined
	containerClass?: string | undefined
}

const { variant = 'page', meta, mainClass: mainClassName, containerClass: containerClassName } = Astro.props as Props

const canonicalUrl =
	meta?.type === 'blog' && meta.canonicalUrl
		? new URL(meta.canonicalUrl)
		: new URL(ensureTrailingSlash(Astro.url.pathname), Astro.site)

const dir = 'ltr'

const containerPaddingClassName = cn('px-4 py-8 sm:py-12 md:py-16')
---

<!doctype html>
<html lang={DEFAULT_LOCALE} dir={dir}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		{typeof meta?.robots === 'string' && <meta name="robots" content={meta.robots} />}

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />

		<link rel="canonical" href={canonicalUrl} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<Font cssVariable="--font-atkinson-next" preload />
		<Font cssVariable="--font-atkinson-mono" preload />

		<HeadSeoMeta canonicalUrl={canonicalUrl} meta={meta} />
		<ClientRouter />
	</head>
	<body class="flex flex-col min-h-dvh antialiased bg-P-bg text-P-fg">
		<main id="main" class={cn('flex-1', mainClassName)}>
			{
				variant === 'post' ? (
					<article class={cn('prose mx-auto w-full max-w-prose', containerPaddingClassName, containerClassName)}>
						<slot />
					</article>
				) : variant === 'page' ? (
					<div class={cn('mx-auto w-full max-w-prose', containerPaddingClassName, containerClassName)}>
						<slot />
					</div>
				) : variant === 'layout' ? (
					<div class={cn('mx-auto w-full max-w-(--layout-max-width)', containerPaddingClassName, containerClassName)}>
						<slot />
					</div>
				) : (
					<slot />
				)
			}
		</main>

		<footer class="pt-16 pb-8 text-center">
			<p class="text-sm text-P-subtle">&copy; {new Date().getFullYear()} {SITE_BRAND_NAME}</p>
		</footer>
	</body>
</html>
